/* @import url(); */

/* fully body selctor */

* {
    margin: 0;
    padding: 0;
}


:root {
--bg-danger: #f63440;
--bg-white: #fff;
--bg-light-white: #f5f5f5;

/* text color  */

--primary-font: 'Poppins', sans-serif;
--text-white: #fff;
--text-black: #121212;
--text-danger: #f63440;
--text-gray: #aaa;
--text-dark-gray: #777;

}


body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;

}


/* custom css */

a, 
a:hover {
    text-decoration: none;
}

p{
    margin: 0;
}

.btn-danger{
    background: var var(--bg-danger);
    border-color: var(--bg-danger);
    padding:  0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}


.btn-danger:hover{
    color: var(--text-danger)
    backgroundtransparent;
} 


/* navigation css  */

#header .fixed-top {
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 5%);
    
}