/* @import url(); */

/* fully body selctor */

* {
    margin: 0;
    padding: 0;
}


:root {
--bg-danger: #f63440;
--bg-white: #fff;
--bg-light-white: #f5f5f5;

/* text color  */

--primary-font: 'Poppins', sans-serif;
--text-white: #fff;
--text-black: #121212;
--text-danger: #f63440;
--text-gray: #aaa;
--text-dark-gray: #777;

}

